* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}

.title, .header-right-section {
    align-self: center;
}

.header-right {
    display: flex;
    flex-direction: row;
    list-style: none;
}

h1 {
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
}

.li-item {
    font-size: large;
    font-weight: bold;
    padding-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}